.taskList{
    list-style: none;
}
.taskSingle{
    background-color: white;
    border-radius: 5px;
    padding: 1.5rem 2.5rem;
    cursor: pointer;
}
.taskSingle:not(:first-child){
    margin-top: 1.5rem;
}
.taskSingle-block{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1.5rem;

}
.taskSingle-button{
    width: 5rem;
    padding: 0 1rem;
    line-height: 1.5rem;
    background-color: white;
    border: 1px solid #686868;
    border-radius: 3px;
    cursor: pointer;
}