@charset "utf-8";

.filter{
    background-color: white;
    margin: 2rem auto;
    border-radius: 5px;
    padding: 1.25rem;
    width: 100%;
    min-width: 300px;
}
.form .statusGroup{
    flex-direction: row;
}
.statusTitle{
    
}
.statusBlock{
    display: flex;
    gap: 1rem;
    margin-top: 0.3rem;
}
.keywordTitle{
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    display: block;
}
.filter .keywordText{
    width: 70%;
    line-height: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 0.3rem;
    z-index: 0;
}
.searchBtn{
    width: 12.8125rem;
    line-height: 2rem;
    border: none;
    border-radius: 5px;
    margin-top: 0.5rem;
    display: block;
}